<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="CustomersGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magento\Customer\Model\ResourceModel\Customer\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">CustomersGridFilterPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="CustomersGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="create_form_data_source" xsi:type="string">GiangVu\CustomerManager\Model\ResourceModel\Contact\Grid\Collection</item>
                <item name="edit_form_data_source" xsi:type="string">GiangVu\CustomerManager\Model\ResourceModel\Contact\Grid\Collection</item>
                <item name="customermanager_listing_data_source" xsi:type="string">GiangVu\CustomerManager\Model\ResourceModel\Contact\Grid\Collection</item>
                <item name="changepassword_form_data_source" xsi:type="string">GiangVu\CustomerManager\Model\ResourceModel\Contact\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="GiangVu\CustomerManager\Model\ResourceModel\Contact\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">customer_entity</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Customer\Model\ResourceModel\Customer\Collection</argument>
        </arguments>
    </virtualType>
</config>